.hheader{
    height: 100px;
    background-color: rgb(89, 81, 143);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.brand{
    border: 1px solid rgb(19, 209, 19);
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    

}


.menu{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.menu-list{
    padding: 40px;

}

.menu a:link {
    text-decoration: none;
}